# Python
dev.duckdb
logs/
target/
.venv/
__pycache__/
*.pyc

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Streamlit
.streamlit/secrets.toml

# Data artifacts
data/**/*.parquet
data/**/*.csv
